<div class="container">
    <div class="image">
        <img src="/assets/burger.jpg" alt="yummy hamburger">
    </div>
    <br>
    <div class="ready">
        <ul>

            {{#each burger_data}}
            {{#unless this.devoured}}
            <li class="item">
                <h4>{{this.burger_name}} <button class="devour" onclick="update({{this.id}})">DEVOUR
                        IT!
                    </button></h4>
                <!--data-id="{{this.id}}"-->
                {{!-- <input type="hidden" name="_method" value="PUT"> --}}
                {{!-- </input> --}}
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>
    <br>
    <br>
    <div class="done">
        <ul>

            {{#each burger_data}}
            {{#if devoured}}
            {{!-- {{> burger/ready devoured=true}} --}}
            <li class="item">
                <div class="text">
                    <h4>{{this.burger_name}} <button class="devour" onclick="deleteBurger({{this.id}})">DELETE
                            IT!</button>
                    </h4>
                </div>
                {{!-- <div class="button">

                </div> --}}
                {{!-- <div class="btn">
                    <button class="btn delete" data-id="{{this.id}}">DEVOUR IT!</button>
                </div> --}}
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
    <br>
    <br>
    <form method="POST">
        <textarea name="inputs" id="inputs" cols="40" rows="2"></textarea>
        <br>
        <br>
        <button class="btn order" href="/api/burgers">Order it!</button>
    </form>
</div>